# ignore all files but the notes and main assignments
assignments/assignment*/autograder
assignments/assignment*/docs
assignments/assignment*/**
assignments/admin.py
assignments/docs
assignments/README.md
assignments/.DS_Store

!assignments/assignment*/*.cpp
!assignments/assignment*/*.h

