# ignore all files but the notes and main assignments
assignments/assignment*/autograder
assignments/assignment*/docs
assignments/assignment*/**
assignments/admin.py
assignments/docs
assignments/README.md
assignments/.DS_Store

!assignments/assignment{0,1,2,4,5,6,7}/*.cpp
!assignments/assignment{0,1,2,4,5,6,7}/*.h
